{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <!-- hero -->
    <div id="carouselExample" class="carousel slide my-4 bg-white border border-success-subtle rounded p-5 shadow" data-bs-ride="carousel">
        <div class="carousel-inner">
          <!-- Slide 1 -->
          <div class="carousel-item active">
            <div class="row flex-lg-row align-items-center g-3">
              <div class="col-lg-6">
                <h1 class="display-4 fw-bold lh-1 mb-3 text-success">
                    Bring Life to Every Corner.
                </h1>
                <p class="lead text-success">
                    Low-maintenance plants for busy lifestyles. 
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-success btn-lg px-4 me-md-2">Learn More</button>
                  <button type="button" class="btn btn-success btn-lg px-4">Projects</button>
                </div>
              </div>
              <div class="col-lg-6">
                <img src="{% static 'images/Plantology-plant-1.png' %}" class="d-flex mx-lg-auto img-fluid" alt="Responsive Web Design" width="330" loading="lazy">
              </div>
            </div>
          </div>
      
          <!-- Slide 2 -->
          <div class="carousel-item">
            <div class="row flex-lg-row align-items-center g-3">
              <div class="col-lg-6">
                <h1 class="display-4 fw-bold lh-1 mb-3 text-success">
                    Style Your Plants.
                </h1>
                <p class="lead text-success">
                    Pair your plants with eco-friendly pots. 
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-success btn-lg px-4 me-md-2">Learn More</button>
                  <button type="button" class="btn btn-success btn-lg px-4">Portfolio</button>
                </div>
              </div>
              <div class="col-lg-6">
                <img src="{% static 'images/Plantology-pot.png' %}" class="d-flex mx-lg-auto img-fluid" alt="Business Solutions" width="330" loading="lazy">
              </div>
            </div>
          </div>
      
          <!-- Slide 3 -->
          <div class="carousel-item">
            <div class="row flex-lg-row align-items-center g-3">
              <div class="col-lg-6">
                <h1 class="display-4 fw-bold lh-1 mb-3 text-success">
                    Greenery Made Simple.
                </h1>
                <p class="lead text-success">
                    Shop vibrant indoor plants for every corner of your home.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-success btn-lg px-4 me-md-2">Contact Us</button>
                  <button type="button" class="btn btn-success btn-lg px-4">Our Services</button>
                </div>
              </div>
              <div class="col-lg-6">
                <img src="{% static 'images/Plantology-plant-2.png' %}" class="d-flex mx-lg-auto img-fluid" alt="Innovation" width="330" loading="lazy">
              </div>
            </div>
          </div>
        </div>
      
        <!-- Carousel Controls -->
        <button class="carousel-control-prev " type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-success-subtle rounded" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-success-subtle rounded" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- End Hero-Section -->
    <div class="container">
        <div class="row">
            <div class="text-center mt-5">
                <h2 class="display-5 fw-bold lh-1 pb-4 text-success">Recommended</h2>
            </div>
            <!-- Each column will adjust based on screen size -->
            <!-- Product Card 1 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex">
                <div class="card text-center product-card mx-auto">
                    <div class="product-image position-relative">
                        <img src="{% static 'images/Plantology-plant-1.png' %}" alt="Spathiphyllum wallisii" class="img-fluid">
                        <i class="fa-solid fa-heart heart-icon"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Peace Lilly</h5>
                        <div class="size-options mb-2">
                            <span class="bg-warning-subtle p-2 rounded-pill">Spathiphyllum wallisii</span><br>
                        </div>
                        <p class="card-text">
                            An evergreen, rhizomatous herbaceous plant which can grow up to 50 cm tall and 50 cm wide. It has a clump-forming growth habit.
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="price">Ksh.1370</span>
                        <button class="btn btn-success add-to-cart">
                            <i class="fa-solid fa-cart-shopping"></i> Add to Cart
                        </button>
                    </div>
                </div>
            </div>
    
            <!-- Product Card 2 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex">
                <div class="card text-center product-card mx-auto">
                    <div class="product-image position-relative">
                        <img src="{% static 'images/Plantology-plant-1.png' %}" alt="Spathiphyllum wallisii" class="img-fluid">
                        <i class="fa-solid fa-heart heart-icon"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Peace Lilly</h5>
                        <div class="size-options mb-2">
                            <span class="bg-warning-subtle p-2 rounded-pill">Spathiphyllum wallisii</span><br>
                        </div>
                        <p class="card-text">
                            An evergreen, rhizomatous herbaceous plant which can grow up to 50 cm tall and 50 cm wide. It has a clump-forming growth habit.
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="price">Ksh.1370</span>
                        <button class="btn btn-success add-to-cart">
                            <i class="fa-solid fa-cart-shopping"></i> Add to Cart
                        </button>
                    </div>
                </div>
            </div>
    
            <!-- Product Card 3 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex">
                <div class="card text-center product-card mx-auto">
                    <div class="product-image position-relative">
                        <img src="{% static 'images/Plantology-plant-1.png' %}" alt="Spathiphyllum wallisii" class="img-fluid">
                        <i class="fa-solid fa-heart heart-icon"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Peace Lilly</h5>
                        <div class="size-options mb-2">
                            <span class="bg-warning-subtle p-2 rounded-pill">Spathiphyllum wallisii</span><br>
                        </div>
                        <p class="card-text">
                            An evergreen, rhizomatous herbaceous plant which can grow up to 50 cm tall and 50 cm wide. It has a clump-forming growth habit.
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="price">Ksh.1370</span>
                        <button class="btn btn-success add-to-cart">
                            <i class="fa-solid fa-cart-shopping"></i> Add to Cart
                        </button>
                    </div>
                </div>
            </div>
    
            <!-- Product Card 4 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex">
                <div class="card text-center product-card mx-auto">
                    <div class="product-image position-relative">
                        <img src="{% static 'images/Plantology-plant-1.png' %}" alt="Spathiphyllum wallisii" class="img-fluid">
                        <i class="fa-solid fa-heart heart-icon"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Peace Lilly</h5>
                        <div class="size-options mb-2">
                            <span class="bg-warning-subtle p-2 rounded-pill">Spathiphyllum wallisii</span><br>
                        </div>
                        <p class="card-text">
                            An evergreen, rhizomatous herbaceous plant which can grow up to 50 cm tall and 50 cm wide. It has a clump-forming growth habit.
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="price">Ksh.1370</span>
                        <button class="btn btn-success add-to-cart">
                            <i class="fa-solid fa-cart-shopping"></i> Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
{% endblock content %}