<header class="bg-success shadow">
    <div class="container">
        <div class="d-none d-lg-flex justify-content-between align-items-center py-2 border-bottom">
          <div class="d-flex gap-5">
            <a class="text-decoration-none text-light" href="#" role="button">Plant Guides</a>
            <a class="text-decoration-none text-light" href="#" role="button">About Us</a>
            <a class="text-decoration-none text-light" href="#" role="button">FAQs</a>
          </div>
          <div class="d-flex gap-5">
            <div class="d-flex gap-2 justify-content-between align-items-center">
              <i class="fa-solid fa-phone text-light"></i>
              <a class="text-decoration-none text-light" href="#" role="button">Call:+254712345678</a>
            </div>
            <div class="d-flex gap-2 justify-content-between align-items-center">
              <i class="fa-solid fa-envelope text-light"></i>
              <a class="text-decoration-none text-light" href="#" role="button">info@plantologyke.com</a>
            </div>
           </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar nav navbar-expand-lg sticky-top">
            <div class="container sticky-top">
                <a class="navbar-brand text-light" href="/">PlantologyKe</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav justify-content-center w-100 mb-2 mb-lg-0 gap-3">
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              All Plants
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" aria-disabled="true">Plant-Guides</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" aria-disabled="true">Blogs</a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link text-light" aria-disabled="true">Cart</a>
                            <div>
                                <i class="fa-solid fa-cart-shopping text-white"></i>
                                <span class="top-1 start-100 translate-middle badge rounded-pill bg-warning border text-success border-success">
                                    0
                                    <span class="visually-hidden">unread messages</span>
                                </span>  
                            </div>
                        </li>
                    </ul>
                    <div class="d-block">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-success border-light" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    
</header>